.contact-section {
    text-align: center; 
    padding: 20px;
    font-size: 16px;
    color: #333; 
    background-color: #F5F5F5;
}

.social-links {
    margin: 20px 0;
    padding: 0;
    list-style: none; 
}

.social-icon {
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    display: inline-block; 
    width: 50px; 
    height: 50px; 
    line-height: 50px; 
    border-radius: 50%; 
    color: white;
    background-color: #555;
    transition: transform 0.3s ease; 
}

.social-icon.facebook {
    background-color: #3b5998; 
}

.social-icon.instagram {
    background: linear-gradient(to right, #833AB4, #C13584, #E1306C, #FDCB5C); 
}

.social-icon:hover {
    transform: scale(1.1); 
    cursor: pointer;
}


.email-link {
    display: inline-block;
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px; 
    box-shadow: 0 2px #666; 
    transition: background-color 0.3s ease; 
}

.email-link:hover {
    background-color: #45a049; 
}